/* --- footer --- */
.footer {
	margin-top: auto;
	padding: 35px 0;
	background-color: #252525;

	@include mxw480 { 
		text-align: center;
	}

	&-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;

		@include mxw480 { 
			flex-direction: column;
			justify-content: center; 
		}
	}
}
/* --- // footer --- */