/* --- mission --- */
.mission {
	margin-bottom: 90px;
	padding: 0 15px;

	&-wrapper {
		display: flex;
		margin: 0 auto;
		gap: 50px;
		max-width: 820px;
		width: 100%;
		@include mxw992 { 
			flex-direction: column;
			max-width: 600px;
		} 
	}

	&-content {
		display: flex;
		align-items: center;
		max-width: 345px;
		width: 100%;

		p {			
			font-size: 25px;
			font-weight: 500;
			line-height: 1.4;
			letter-spacing: -0.5px;
			@include mxw992 {font-size: 20px} 

			span:not(.accent-text) {
				color: var(--textLightColor);
			}
		}
	}

	&-list {
		&__item {
			position: relative;
			display: flex;
			gap: 65px;
			padding: 27px 0;

			&:first-child {
				padding-top: 0;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 2px;
				width: 100%;
				background: linear-gradient(90deg, #434343 -5.9%, rgba(67, 67, 67, 0) 109.67%);
			}

			& > i {
				text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.42);
				font-family: PT Serif Caption;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.1;
				letter-spacing: -0.33px;
				background: linear-gradient(102deg, #4a4a4a 4.87%, #cfcfcf 43%, #333 83.59%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			& > p {
				font-size: 13px;
				font-weight: 400;
				line-height: 1.4;
				letter-spacing: -0.257px;

				span {
					color: var(--textLightColor);
				}
			}
		}
	}
}
/* --- // mission --- */
