/* --- offer --- */
.offer {
	position: relative;
	z-index: 1;
	margin: 0 auto 55px;
	padding: 38px 20px;
	max-width: 960px;
	text-align: center;
	border-radius: 14px;
	overflow: hidden;
	background: linear-gradient(85deg, #ffc82a -21.83%, #ffe290 52.14%, #ffca34 118.9%, #ffc82a 118.92%),
		linear-gradient(299deg, rgba(255, 255, 255, 0) -2.62%, rgba(255, 255, 255, 0.13) 47.1%, rgba(255, 255, 255, 0) 109.95%);
	@include mxw992 {
		margin: 0 15px 50px;
	}

	&-block {
		margin: 0 auto;
		max-width: 320px;
		width: 100%;
		color: #080808;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: -0.3px;

		&__buttons {
			margin-bottom: 25px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 15px;

			.btn--yellow {
				border: 0.857px solid rgba(255, 255, 255, 0.25);
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), linear-gradient(180deg, #ffe290 0%, #ffc82a 100%);
				background-blend-mode: overlay, normal;
				box-shadow: 0px 2.57143px 0px 0px #c78700, 6px 5.14286px 9.42857px 0px #ffc82a inset,
					-7.71429px -9.42857px 7.71429px 0px rgb(255 255 255 / 23%) inset;
			}
			.btn--grey {
				border: 0.857px solid rgba(255, 255, 255, 0.25);

				background: #323423, linear-gradient(0deg, #fff 0%, #fff 100%), linear-gradient(180deg, #ffe9ab 0%, #ffd253 100%);
				background-blend-mode: color, normal;
				box-shadow: 0px 2.6px 0px 0px rgba(255, 255, 255, 0.4), 6px 5px 9.5 0px rgba(0, 0, 0, 0.2) inset,
					-7.7px -9.5px 7.7px 0px rgba(255, 255, 255, 0.23) inset;
			}
		}

		p {
			margin-bottom: 10px;
		}

		&__link {
			font-weight: 500;

			& + & {
				margin-top: 5px;
			}
			a {
				display: inline-block;
				position: relative;
				transition: text-shadow 0.2s;

				&:hover {
					text-shadow: 0 2.6px 3px rgb(0 0 0 / 75%);
				}
			}
		}
	}
}

.curve-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	overflow: hidden;
	z-index: -1;
	&__line {
		position: absolute;
		bottom: 40px;
		right: 40px;
		width: 1000px;
		height: 1500px;
		border-radius: 50%;
		border-color: #000;
		border: 40px solid #ffc82aaa;
	}
}
.curve-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
	height: 300px;
	overflow: hidden;
	z-index: -1;
	&__line {
		position: absolute;
		top: 150px;
		left: -40px;
		width: 1000px;
		height: 1500px;
		border-radius: 50%;
		border-color: #000;
		border: 40px solid #ffc82aaa;
	}
}
/* --- // offer --- */
