/* --- buttons  --- */
.btn {
	display: inline-flex;

	max-width: 210px;
	width: 100%;
	height: 68px;
	padding: 22px 68px 22px 68px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;

	color: #1d1c1a;	
	font-family: DM Sans;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.9px;

	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), linear-gradient(180deg, #ffe290 0%, #ffc82a 100%);
	background-blend-mode: overlay, normal;
	transition: text-shadow 0.2s;
}
.btn:hover {
	text-shadow: 0 2.6px 3px rgba(0, 0, 0, 0.75);
}
/* --- // buttons --- */
