/* ==== // sprite.svg ==== */
  .social {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;  
	list-style: none;
  }
  .social__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 31px;
	height: 31px;
	border-radius: 50%;
	background-color: #fff;
  }
  .social__icon {
	width: 20px;
	height: 20px;
	fill: #ffdd00;
	transition: .2s;
  }
  .social__link:hover .social__icon {
	fill: #000;
  }
/* ==== // end sprite.svg ==== */