// checkbox custom
.checkbox {
	label {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		font-size: 16px;
	}

	&-custom {
		position: relative;
		display: inline-block;
		margin-right: 5px;
		width: 20px;
		height: 20px;
		background-color: transparent;
		border: 2px solid #7e9bbd;
		border-radius: 4px;
		vertical-align: sub;
		transition: box-shadow 0.2s ease-in;
		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;
			width: 13px;
			height: 10px;
			background-image: url(/assets/images/icons/check.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			transition: 0.2s ease-in;
		}
	}

	&-real {
		position: absolute;
		z-index: -1;
		display: block;
		width: 0;
		height: 0;
		opacity: 0;
		overflow: hidden;

		&:checked + .checkbox-custom::before {
			transform: translate(-50%, -50%) scale(1);
		}

		&:disabled {
			& + .checkbox-custom {
				border: 2px solid #ccc;
				background-color: #efefef;
				cursor: default;
			}
		}

		&:hover:not(:disabled) + .checkbox-custom,
		&:focus + .checkbox-custom {
			box-shadow: 0 0 0 1px #38577a, 0 0 10px #7e9bbd;
		}
	}
}

// radio custom
.radio {
	label {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		font-size: 16px;
	}

	&-custom {
		position: relative;
		display: inline-block;
		margin-right: 5px;
		width: 20px;
		height: 20px;
		background-color: transparent;
		border: 2px solid #7e9bbd;
		border-radius: 50%;
		vertical-align: sub;
		transition: box-shadow 0.2s ease-in;
		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background-color: #38577a;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			transition: 0.2s ease-in;
		}
	}

	&-real {
		position: absolute;
		z-index: -1;
		display: block;
		width: 0;
		height: 0;
		opacity: 0;
		overflow: hidden;

		&:checked + .radio-custom::before {
			transform: translate(-50%, -50%) scale(1);
		}

		&:disabled {
			& + .radio-custom {
				border: 2px solid #ccc;
				background-color: #efefef;
				cursor: default;
			}
		}

		&:hover:not(:disabled) + .radio-custom,
		&:focus + .radio-custom {
			box-shadow: 0 0 0 1px #38577a, 0 0 10px #7e9bbd;
		}
	}
}

//form-fields wrapper
.form-fields {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 400px;
}

//input[text]
//textarea
input {
	padding: 0 10px;
	width: 100%;
	border: 2px solid #7e9bbd;
	border-radius: 4px;
	height: 43px;
}

textarea {
	padding: 10px;
	width: 100%;
	max-height: 150px;
	height: 100vh;
}

input,
textarea,
select {
	width: 100%;
	border: 2px solid #7e9bbd;
	border-radius: 4px;
	background-color: transparent;
	transition: 0.2s ease-in;
	font-size: 16px;

	&:focus,
	&:hover {
		box-shadow: 0 0 0 1px #77aff0, 0 0 10px #7e9bbd;
	}
}

// select default
.select {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		display: block;
		width: 12px;
		height: 12px;

		background-image: url(/assets/images/icons/arrow-bottom.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		pointer-events: none;
	}

	&-field {
		padding: 10px 25px 10px 10px;
		width: 100%;
		appearance: none;
		cursor: pointer;
	}

	&::-ms-expand {
		display: none;
	}

	//select custom by button
	&-custom {
		position: relative;

		&__field {
			position: relative;
			display: block;
			padding: 10px;
			width: 100%;
			text-align-last: left;

			background-color: #fff;
			border: 2px solid #7e9bbd;
			border-radius: 4px;
			height: 43px;

			font-size: 16px;
			transition: 0.2s ease-in;
			user-select:none;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
				display: block;
				width: 12px;
				height: 12px;

				background-image: url(/assets/images/icons/arrow-bottom.svg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;

				pointer-events: none;
			}

			&.active,
			&:focus,
			&:hover {
				box-shadow: 0 0 0 1px #38577a, 0 0 10px #7e9bbd;
			}
		}

		&__list {
			display: none;
			position: absolute;
			z-index: 1;
			left: 0;
			top: 45px;

			width: 100%;
			font-size: 16px;
			background-color: #fff;
			box-shadow: 0 4px 8px rgba(176, 198, 225, 0.6);
			border-radius: 4px;
			overflow: hidden;

			&.open {
				display: block;
			}

			&-item {
				padding: 10px;
				transition: background-color 0.2s ease-in;
				cursor: pointer;

				&:hover {
					background-color: #eee;
				}

				&:first-child {
					border-radius: 4px 4px 0 0;
				}
				&:last-child {
					border-radius: 0 0 4px 4px;
				}
			}
		}

		&__value {
			display: none;
		}
	}
}

/* ==== custom price range ==== */
.range {
	margin-top: 25px;
	padding: 25px 15px;
	position: relative;
	max-width: 400px;
	width: 100%;

	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);

	&-price {
		display: flex;
		margin-top: 20px;

		.field {
			height: 45px;
			width: 100%;
			display: flex;
			align-items: center;
			gap: 10px;

			input[type="number"] {
				width: 100%;
				height: 100%;
				outline: none;
				border: 1px solid #999;
				border-radius: 5px;
				text-align: center;
				font-size: 18px;
				-moz-appearance: textfield;
				background: rgba(255, 255, 255, 0.8);
			}
		}
		.separator {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			font-size: 18px;
			font-weight: 600;
		}
		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}

	&-slider {
		position: relative;
		height: 5px;
		background-color: #ddd;
		border-radius: 5px;

		.progress {
			position: absolute;
			left: 25%;
			right: 25%;
			height: 5px;
			background-color: #17a2b8;
			border-radius: 5px;
			pointer-events: none;
		}
	}

	&-input {
		position: relative;

		input[type="range"] {
			position: absolute;
			top: -5px;
			padding: 0;
			height: 5px;
			width: 100%;
			background: none;
			-webkit-appearance: none;
			border: none;
			pointer-events: none;

			&:focus,
			&:hover {
				box-shadow: unset;
			}

			&::-webkit-slider-thumb {
				display: block;
				height: 20px;
				width: 20px;
				background-color: #008095;
				border-radius: 50%;
				-webkit-appearance: none;
				pointer-events: auto;
				cursor: pointer;
				transition: box-shadow 0.15s ease-in;

				&:hover {
					box-shadow: inset 0 0 15px #014550;
				}
			}

			&::-moz-slider-thumb {
				height: 20px;
				width: 20px;
				background-color: #008095;
				-moz-appearance: none;
				border-radius: 50%;
				pointer-events: auto;
				border: none;
			}
		}
	}
}
/* ==== // custom price range ==== */

/* ==== custom switchbox ==== */
.switchbox {
	display: inline-block;

	&-form {
		margin-top: 25px;
		display: flex;
		gap: 25px;
	}

	&-btn {
		display: inline-block;
		height: 28px;
		line-height: 28px;
		margin-right: 10px;
		position: relative;
		vertical-align: middle;
		font-size: 14px;
		user-select: none;

		input[type="checkbox"] {
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			z-index: -10;
			opacity: 0;

			&:checked + .switchbox-switch {
				background: #008095;
			}

			&:checked + .switchbox-switch::before {
				transform: translateX(28px);
				@include mxw1670 {transform: translateX(22px)}
				@include mxw678 {transform: translateX(20px)}
			}

			&:not(:disabled) + .switchbox-switch {
				cursor: pointer;
				border-color: rgba(0, 0, 0, 0.3);
			}

			&:disabled + .switchbox-switch {
				filter: grayscale(70%);
				border-color: rgba(0, 0, 0, 0.1);
			}

			&:disabled + .switchbox-switch::before {
				background: #eee;
			}

			&.focused .switchbox-switch::before {
				box-shadow: inset 0px 0px 4px #ff5623;
			}
		}
	}

	&-switch {
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		width: 56px;
		height: 28px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 25%/50%;
		vertical-align: top;
		background: #eee;
		transition: 0.2s;

		@include mxw1670 {
			width: 46px;
			height: 24px;
		}
		@include mxw678 {
			width: 40px;
			height: 20px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 1px;
			left: 1px;
			display: inline-block;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: white;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
			transition: 0.15s;

			@include mxw1670 {
				width: 20px;
				height: 20px;
			}
			@include mxw678 {
				width: 16px;
				height: 16px;
			}
		}

		input[type="checkbox"]:not(:disabled):active + .switchbox-switch::before {
			box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
		}
	}
}
/* ==== // custom switchbox ==== */

/* ==== custom select ==== */
.drop {
	display: flex;
	gap: 30px;
	padding: 20px 0 40px;
	&-list {
		position: relative;
		width: 100%;
		max-width: 350px;
		background: #fff;
	}

	&-input {
		position: relative;
		display: block;
		width: 100%;
		padding: 15px 15px 15px 45px;
		font-family: inherit;
		font-size: 18px;
		font-weight: 400;
		border-bottom: 1px solid #7e9bbd;
		color: #222;
		cursor: pointer;
		transition: all 0.2s ease-out;
		z-index: 1;

		& + i {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 8px 0 8px;
			border-color: #008095 transparent transparent transparent;
			pointer-events: none;
			z-index: 1;
		}

		&.turn + i {
			border-width: 0 8px 8px 8px;
			border-color: transparent transparent #008095 transparent;
		}
	}

	&-sublist {
		display: none;
		position: absolute;
		top: 43px;
		left: 0;
		width: 100%;
		background-color: #fff;
		border: 2px solid #7e9bbd;
		z-index: 10;
	
		&.open {
			display: block; 
		}

		& li {
			display: block;
			color: #000;
			font-weight: 400;
			padding: 12px 12px 12px 45px;
			transition: all 0.2s ease-out;	
			cursor: pointer;

			&:not(:last-child) {
				border-bottom: 1px solid #7e9bbd;
			}

			&:hover {
				background-color: #008095;
				color: #fff;
			}
		}
	}
}
/* ==== // custom select ==== */

