// checkbox custom
.checkbox {
	label {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		font-size: 16px;
		font-family: DM Sans;
		color: var(--textLightColor);
		font-size: 20px;
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: -0.4px;
		text-transform: uppercase;
	}

	&-custom {
		position: relative;
		display: inline-block;
		margin-right: 5px;
		width: 32px;
		height: 32px;
		background-color: transparent;
		border: 2px solid #fff;
		border-radius: 4px;
		vertical-align: middle;		
		transition: box-shadow 0.2s ease-in;
		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;
			width: 13px;
			height: 10px;
			background-image: url("/assets/images/svg/chik.svg");
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			transition: 0.2s ease-in;
		}
	}

	&-real {
		position: absolute;
		z-index: -1;
		display: block;
		width: 0;
		height: 0;
		opacity: 0;
		overflow: hidden;

		&:checked + .checkbox-custom::before {
			transform: translate(-50%, -50%) scale(1);
		}

		&:disabled {
			& + .checkbox-custom {
				border: 2px solid #ccc;
				background-color: #efefef;
				cursor: default;
			}
		}

		&:hover:not(:disabled) + .checkbox-custom,
		&:focus + .checkbox-custom {
			box-shadow: 0 0 0 1px #38577a, 0 0 10px #7e9bbd;
		}
	}
}
