:root {
	--textColor: #979797;
	--headColor: inherit;
	--textLightColor: #fff;
	
	--accentColor: #FFC82A;
	--mainBgColor: #0B0B0B;
	
	--textFont: 'DM Sans', sans-serif;
	--headFont: 'PT Serif Caption', serif;
}