/* stylelint-disable */
/* === reset === */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

input {
  border: none;
}

textarea {
  resize: none;
}

input,
button,
a,
select,
option,
textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: none;
}

a,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit;
}

a {
  outline: none;
  text-decoration: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

a:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: none;
}

fieldset {
  border: none;
  padding: 0;
}

ul {
  list-style: none;
}

table {
  font-variant-numeric: tabular-nums;
  border-collapse: collapse;
  border-spacing: 0;
}

picture {
  display: block;
  line-height: 0;
}

img,
svg {
  height: auto;
  max-width: 100%;
}

/* === //reset === */
:root {
  --textColor: #979797;
  --headColor: inherit;
  --textLightColor: #fff;
  --accentColor: #FFC82A;
  --mainBgColor: #0B0B0B;
  --textFont: "DM Sans", sans-serif;
  --headFont: "PT Serif Caption", serif;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PT Serif Caption";
  src: url("../fonts/PTSerifCaption-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
/*
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background-color: #CCC;
}
::-webkit-scrollbar-thumb {
	border-radius: 12px;
	border: 3px solid #000;
	background-color: #CCC;
}

::-moz-selection {
	background: #000;
	color: #ccc;
	text-shadow: none;
}
::selection {
	background: #000;
	color: #ccc;
	text-shadow: none;
}
*/
/* --- common styles --- */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  background-color: var(--mainBgColor);
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: var(--textFont);
  color: var(--textColor);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headFont);
  color: var(--headColor);
}

/* --- blocks --- */
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
  width: 100%;
}

/* --- additional --- */
.v-hidden {
  position: absolute;
  z-index: -1000;
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.full-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.clap-text {
  display: -webkit-box;
  max-width: 300px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.accent-text {
  background: var(--Linear, linear-gradient(202deg, #ffc82a 8.21%, #ffe290 42.95%, #ffca34 74.3%, #ffc82a 74.31%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  row-gap: 20px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
@media (max-width: 767px) {
  .gallery {
    gap: 10px;
  }
}
@media (max-width: 575px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.section-title > span {
  display: block;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.4px;
  text-transform: uppercase;
}
.section-title h2 {
  font-family: PT Serif Caption;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.8px;
}
@media (max-width: 991px) {
  .section-title h2 {
    padding: 0 15px;
    font-size: 30px;
  }
}
.section-title h2 > i {
  font-style: normal;
}

.selected-text p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.3px;
}
.selected-text p > span {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.3px;
}

.icons-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons-group__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -6px;
  width: 37px;
  height: 37px;
  background-color: #595959;
  border: 2px solid #171717;
  border-radius: 50%;
}
.icons-group__item img {
  width: 20px;
}

.v-separator {
  display: block;
  width: 5px;
  height: 100%;
  background: rgb(67, 67, 67);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(67, 67, 67, 0.1516981793)), to(rgb(67, 67, 67)));
  background: linear-gradient(0deg, rgba(67, 67, 67, 0.1516981793) 0%, rgb(67, 67, 67) 100%);
}

.copyright {
  font-size: 15px;
  color: var(--textLightColor);
}
.copyright p {
  margin-bottom: 10px;
}
.copyright p sup {
  font-size: 10px;
}

.no-scroll {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
.no-scroll::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9333333333);
  z-index: 2;
}

/* --- // common styles --- */
/* ==== // sprite.svg ==== */
.social {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 15px;
  list-style: none;
}

.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #fff;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #ffdd00;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social__link:hover .social__icon {
  fill: #000;
}

/* ==== // end sprite.svg ==== */
/* --- buttons  --- */
.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 210px;
  width: 100%;
  height: 68px;
  padding: 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  color: #1d1c1a;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
  border-radius: 12px;
  -webkit-transition: text-shadow 0.2s;
  transition: text-shadow 0.2s;
}
@media (max-width: 767px) {
  .btn {
    height: 60px;
  }
}

.btn--yellow {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.12)), to(rgba(0, 0, 0, 0.12))), -webkit-gradient(linear, left top, left bottom, from(#ffe290), to(#ffc82a));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), linear-gradient(180deg, #ffe290 0%, #ffc82a 100%);
  background-blend-mode: overlay, normal;
}

.btn--grey {
  border: 1px solid rgba(255, 255, 255, 0.85);
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#ffe9ab), to(#ffd253));
  background: linear-gradient(0deg, #fff 0%, #fff 100%), linear-gradient(180deg, #ffe9ab 0%, #ffd253 100%);
  background-blend-mode: color, normal;
  -webkit-box-shadow: 0px 3px 0px 0px #a3a3a3, 7px 6px 11px 0px #ccc inset, -9px -11px 9px 0px rgba(255, 255, 255, 0.75) inset;
          box-shadow: 0px 3px 0px 0px #a3a3a3, 7px 6px 11px 0px #ccc inset, -9px -11px 9px 0px rgba(255, 255, 255, 0.75) inset;
}

.btn:hover {
  text-shadow: 0 2.6px 3px rgba(0, 0, 0, 0.75);
}

/* --- // buttons --- */
.checkbox label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: DM Sans;
  color: var(--textLightColor);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}
.checkbox-custom {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  cursor: pointer;
}
.checkbox-custom::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 10px;
  background-image: url("/assets/images/svg/chik.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.checkbox-real {
  position: absolute;
  z-index: -1;
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.checkbox-real:checked + .checkbox-custom::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.checkbox-real:disabled + .checkbox-custom {
  border: 2px solid #ccc;
  background-color: #efefef;
  cursor: default;
}
.checkbox-real:hover:not(:disabled) + .checkbox-custom, .checkbox-real:focus + .checkbox-custom {
  -webkit-box-shadow: 0 0 0 1px #38577a, 0 0 10px #7e9bbd;
          box-shadow: 0 0 0 1px #38577a, 0 0 10px #7e9bbd;
}

/* --- popup --- */
.popup {
  display: none;
  position: fixed;
  padding: 40px 55px;
  max-width: 532px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0b0b0b;
  -webkit-box-shadow: 0 0 15px #444;
          box-shadow: 0 0 15px #444;
  text-align: center;
  z-index: 10;
}
.popup.show {
  display: block;
  -webkit-animation: showPopup 0.5s;
          animation: showPopup 0.5s;
}
@-webkit-keyframes showPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 26px;
  height: 26px;
}
.popup-logo {
  text-align: center;
}
.popup-logo img {
  width: 100px;
}
.popup-input {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}
.popup-input input {
  padding: 10px 0;
  border-bottom: 2px solid #fff;
  background-color: unset;
  width: 100%;
  color: var(--textLightColor);
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
.popup-input input + input {
  margin-top: 20px;
}
.popup-input input::-webkit-input-placeholder {
  font-weight: 400;
}
.popup-input input::-moz-placeholder {
  font-weight: 400;
}
.popup-input input:-ms-input-placeholder {
  font-weight: 400;
}
.popup-input input::-ms-input-placeholder {
  font-weight: 400;
}
.popup-input input::placeholder {
  font-weight: 400;
}
.popup-input span {
  width: 38px;
  height: 38px;
}
.popup-input span img {
  display: block;
}
.popup-btn {
  margin: 35px 0 30px;
}
.popup .checkbox {
  text-align: left;
}
.popup-links {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}
.popup-links a {
  position: relative;
}
.popup-links a + a {
  margin-left: 17px;
}
.popup-links a:first-child::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -11px;
  display: block;
  width: 1px;
  height: 16px;
  background-color: #fff;
}

/* --- // popup --- */
/* --- .hero --- */
.hero {
  margin: 0 auto;
  padding: 40px 15px 60px;
  position: relative;
  height: 720px;
  max-width: 1230px;
  width: 100%;
  background-image: url("/assets/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
  z-index: 1;
}
@media (max-width: 991px) {
  .hero {
    background-position: 50% 0;
  }
}
@media (max-width: 480px) {
  .hero {
    background-position: 60% 0;
    height: 640px;
  }
}
.hero-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
@media (max-width: 991px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .hero-block {
    gap: 20px;
  }
}
.hero-block__content {
  margin-left: 175px;
  max-width: 370px;
  width: 100%;
}
@media (max-width: 991px) {
  .hero-block__content {
    margin-left: 30px;
  }
}
@media (max-width: 480px) {
  .hero-block__content {
    margin-left: 10px;
  }
}
.hero-block__startdate {
  position: absolute;
  right: 190px;
  top: 135px;
}
@media (max-width: 991px) {
  .hero-block__startdate {
    position: static;
    margin-left: 30px;
  }
}
@media (max-width: 480px) {
  .hero-block__startdate {
    margin-left: 10px;
  }
}
.hero-content__label {
  color: #7b7b7b;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.hero-content__title {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 1;
}
.hero-content__title .accent-text {
  display: inline-block;
  padding-right: 10px;
  text-shadow: -15px 15px 15px #000;
  font-size: 123px;
  letter-spacing: -2.5px;
}
@media (max-width: 767px) {
  .hero-content__title .accent-text {
    font-size: 90px;
  }
}
@media (max-width: 480px) {
  .hero-content__title .accent-text {
    font-size: 60px;
  }
}
.hero-content__title i {
  font-style: normal;
  text-shadow: -7px 7px 7px #000;
  font-size: 56px;
  letter-spacing: -1.1px;
}
@media (max-width: 480px) {
  .hero-content__title i {
    font-size: 45px;
  }
}
.hero-content__title span {
  font-size: 68px;
  letter-spacing: -1.4px;
  text-shadow: -12px 12px 12px #000;
}
@media (max-width: 480px) {
  .hero-content__title span {
    font-size: 50px;
  }
}
.hero-content__slogan {
  display: inline-block;
  margin-bottom: 30px;
  color: #7b7b7b;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .hero-content__slogan {
    text-shadow: 1px 1px 0px #ccc;
  }
}
.hero-content__text {
  margin-bottom: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.3px;
}
@media (max-width: 480px) {
  .hero-content__text {
    margin-bottom: 10px;
  }
}
.hero-content__buttons {
  margin-left: 175px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
@media (max-width: 991px) {
  .hero-content__buttons {
    margin-left: 30px;
    width: calc(100% - 30px);
  }
}
@media (max-width: 480px) {
  .hero-content__buttons {
    margin-left: 10px;
    width: calc(100% - 10px);
  }
}
.hero .startdate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 155px;
  height: 155px;
  border-radius: 184.286px;
  background: var(--Linear, linear-gradient(202deg, #ffc82a 8.21%, #ffe290 42.95%, #ffca34 74.3%, #ffc82a 74.31%));
  -webkit-box-shadow: 17.14286px 25px 19.28572px 0px rgba(0, 0, 0, 0.56);
          box-shadow: 17.14286px 25px 19.28572px 0px rgba(0, 0, 0, 0.56);
}
@media (max-width: 767px) {
  .hero .startdate {
    width: 110px;
    height: 110px;
  }
}
.hero .startdate-title {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #1d1c1a;
  color: #fff;
  font-size: 8px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .hero .startdate-title {
    padding: 2px;
  }
}
.hero .startdate-month {
  color: #1d1c1a;
  text-align: center;
  font-family: PT Serif Caption;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.32px;
}
.hero .startdate-number {
  color: #1d1c1a;
  text-align: center;
  font-family: PT Serif Caption;
  font-size: 67px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1.4px;
}
@media (max-width: 767px) {
  .hero .startdate-number {
    font-size: 36px;
  }
}

/* --- // .hero --- */
/* --- .suitable --- */
.suitable-title.section-title {
  text-align: center;
}
.suitable-title.section-title span {
  margin-bottom: 5px;
}
.suitable-title.section-title h2 {
  margin-bottom: 35px;
  color: #fff;
}
@media (max-width: 480px) {
  .suitable-title.section-title h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
.suitable-gallery {
  margin: 0 auto 60px;
  max-width: 820px;
}
@media (max-width: 767px) {
  .suitable-gallery {
    margin-bottom: 30px;
  }
}
.suitable-gallery__item {
  padding: 20px;
  border-radius: 6px;
}
@media (max-width: 480px) {
  .suitable-gallery__item {
    padding: 10px;
  }
}
.suitable-gallery__icon {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 6px;
  border: 0.857px solid #909090;
  background: linear-gradient(301deg, rgba(255, 255, 255, 0.27) -2.75%, rgba(255, 255, 255, 0) 88.2%);
}
.suitable-gallery__icon img {
  width: 27px;
  height: 27px;
}

/* --- // .suitable --- */
/* --- people --- */
.people {
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .people {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .people {
    margin-bottom: 60px;
  }
}
.people-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
  margin: 0 auto;
  padding: 50px 65px;
  max-width: 965px;
  width: 100%;
  border-radius: 10.286px;
  border: 1px solid #909090;
  background: linear-gradient(300deg, rgba(255, 255, 255, 0.09) -2.75%, rgba(255, 255, 255, 0) 88.2%);
}
@media (max-width: 991px) {
  .people-wrapper {
    padding: 50px 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 600px;
  }
}
@media (max-width: 480px) {
  .people-wrapper {
    padding: 30px 15px;
  }
}
.people-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.people-content__title {
  color: var(--textLightColor);
}
.people-content__title .accent-text {
  display: block;
}
.people-connects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 100%;
}
@media (max-width: 480px) {
  .people-connects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
.people-connects__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.people-figure {
  min-width: 358px;
  max-width: 358px;
  height: 338px;
  border-radius: 15px;
  background-color: #2c2c2c;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='dimgrey' stroke-width='4' stroke-dasharray='15%2c 25' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .people-figure {
    margin: 0 auto;
    height: auto;
    width: 100%;
    min-width: unset;
    aspect-ratio: 358/338;
  }
}
.people-figure__block {
  border-radius: 15px;
  background-image: url("/assets/images/people.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -21.42857px 14.57143px 66px 0px rgba(0, 0, 0, 0.51);
          box-shadow: -21.42857px 14.57143px 66px 0px rgba(0, 0, 0, 0.51);
  height: 100%;
  -webkit-transform: rotate(4.973deg);
      -ms-transform: rotate(4.973deg);
          transform: rotate(4.973deg);
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow: hidden;
}
.people-figure__block img {
  display: block;
  height: 100px;
  width: 100px;
}

/* --- // people --- */
/* --- mission --- */
.mission {
  margin-bottom: 90px;
  padding: 0 15px;
}
.mission-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  gap: 50px;
  max-width: 820px;
  width: 100%;
}
@media (max-width: 991px) {
  .mission-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 600px;
  }
}
.mission-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 345px;
  width: 100%;
}
.mission-content p {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
}
@media (max-width: 991px) {
  .mission-content p {
    font-size: 20px;
  }
}
.mission-content p span:not(.accent-text) {
  color: var(--textLightColor);
}
.mission-list__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
  padding: 27px 0;
}
.mission-list__item:first-child {
  padding-top: 0;
}
.mission-list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-5.9%, #434343), color-stop(109.67%, rgba(67, 67, 67, 0)));
  background: linear-gradient(90deg, #434343 -5.9%, rgba(67, 67, 67, 0) 109.67%);
}
.mission-list__item > i {
  text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.42);
  font-family: PT Serif Caption;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.33px;
  background: linear-gradient(102deg, #4a4a4a 4.87%, #cfcfcf 43%, #333 83.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mission-list__item > p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.257px;
}
.mission-list__item > p span {
  color: var(--textLightColor);
}

/* --- // mission --- */
/* --- become --- */
.become {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .become {
    margin-bottom: 50px;
  }
}
.become-wrapper {
  margin: 0 auto;
  max-width: 820px;
  width: 100%;
}
.become-title.section-title {
  max-width: 450px;
  margin-bottom: 45px;
}
.become-title.section-title h2 > span {
  color: var(--textLightColor);
}
@media (max-width: 991px) {
  .become-gallery {
    margin: 0 15px;
  }
}
@media (max-width: 480px) {
  .become-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
.become-gallery__item {
  position: relative;
  min-height: 195px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #909090;
  background: linear-gradient(301deg, rgba(255, 255, 255, 0.1) -2.75%, rgba(255, 255, 255, 0) 88.2%);
}
@media (max-width: 480px) {
  .become-gallery__item {
    margin: 0 auto;
    max-width: 242px;
    width: 100%;
  }
}
.become-gallery__item:last-child .become-gallery__img {
  top: 0;
  left: 0;
}
.become-gallery__item:last-child .become-gallery__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.become-gallery__content h3 {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.3px;
  background: linear-gradient(94deg, #bdbdbd -26.47%, #fff 36.18%, #b6b6b6 102.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.become-gallery__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.become-gallery__img img {
  display: block;
}

/* --- // become --- */
/* --- offer --- */
.offer {
  position: relative;
  z-index: 1;
  margin: 0 auto 55px;
  padding: 38px 20px;
  max-width: 960px;
  text-align: center;
  border-radius: 14px;
  overflow: hidden;
  background: linear-gradient(85deg, #ffc82a -21.83%, #ffe290 52.14%, #ffca34 118.9%, #ffc82a 118.92%), linear-gradient(299deg, rgba(255, 255, 255, 0) -2.62%, rgba(255, 255, 255, 0.13) 47.1%, rgba(255, 255, 255, 0) 109.95%);
}
@media (max-width: 991px) {
  .offer {
    margin: 0 15px 50px;
  }
}
.offer-block {
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  color: #080808;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.offer-block__buttons {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 15px;
}
.offer-block__buttons .btn--yellow {
  border: 0.857px solid rgba(255, 255, 255, 0.25);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.12)), to(rgba(0, 0, 0, 0.12))), -webkit-gradient(linear, left top, left bottom, from(#ffe290), to(#ffc82a));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), linear-gradient(180deg, #ffe290 0%, #ffc82a 100%);
  background-blend-mode: overlay, normal;
  -webkit-box-shadow: 0px 2.57143px 0px 0px #c78700, 6px 5.14286px 9.42857px 0px #ffc82a inset, -7.71429px -9.42857px 7.71429px 0px rgba(255, 255, 255, 0.23) inset;
          box-shadow: 0px 2.57143px 0px 0px #c78700, 6px 5.14286px 9.42857px 0px #ffc82a inset, -7.71429px -9.42857px 7.71429px 0px rgba(255, 255, 255, 0.23) inset;
}
.offer-block__buttons .btn--grey {
  border: 0.857px solid rgba(255, 255, 255, 0.25);
  background: #323423, -webkit-gradient(linear, left bottom, left top, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#ffe9ab), to(#ffd253));
  background: #323423, linear-gradient(0deg, #fff 0%, #fff 100%), linear-gradient(180deg, #ffe9ab 0%, #ffd253 100%);
  background-blend-mode: color, normal;
  -webkit-box-shadow: 0px 2.6px 0px 0px rgba(255, 255, 255, 0.4), 6px 5px 9.5 0px rgba(0, 0, 0, 0.2) inset, -7.7px -9.5px 7.7px 0px rgba(255, 255, 255, 0.23) inset;
          box-shadow: 0px 2.6px 0px 0px rgba(255, 255, 255, 0.4), 6px 5px 9.5 0px rgba(0, 0, 0, 0.2) inset, -7.7px -9.5px 7.7px 0px rgba(255, 255, 255, 0.23) inset;
}
.offer-block p {
  margin-bottom: 10px;
}
.offer-block__link {
  font-weight: 500;
}
.offer-block__link + .offer-block__link {
  margin-top: 5px;
}
.offer-block__link a {
  display: inline-block;
  position: relative;
  -webkit-transition: text-shadow 0.2s;
  transition: text-shadow 0.2s;
}
.offer-block__link a:hover {
  text-shadow: 0 2.6px 3px rgba(0, 0, 0, 0.75);
}

.curve-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: -1;
}
.curve-top__line {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 1000px;
  height: 1500px;
  border-radius: 50%;
  border-color: #000;
  border: 40px solid rgba(255, 200, 42, 0.6666666667);
}

.curve-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: -1;
}
.curve-bottom__line {
  position: absolute;
  top: 150px;
  left: -40px;
  width: 1000px;
  height: 1500px;
  border-radius: 50%;
  border-color: #000;
  border: 40px solid rgba(255, 200, 42, 0.6666666667);
}

/* --- // offer --- */
/* --- footer --- */
.footer {
  margin-top: auto;
  padding: 35px 0;
  background-color: #252525;
}
@media (max-width: 480px) {
  .footer {
    text-align: center;
  }
}
.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 480px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* --- // footer --- *//*# sourceMappingURL=style.css.map */